
body{
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  text-align: center;
  font-family: serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #40514E;
}

hr {
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;
  border-color: grey;
  margin-top: 100px;
  margin-bottom: 100px;
}

a{
  color: #8a1253;
}

h1{
  margin: 50 auto 0 auto;
  font-family: 'Yesteryear', cursive;
  font-size: 5rem;
  color: #00bbf0;
}

h2{

  padding-top: 10;
  padding-bottom: 10;
  font-family: 'Overpass', sans-serif;
  color: #8a1253;
}

h3{
  margin: 10 auto 10 auto;
  font-family: 'Overpass', sans-serif;
  color: #8a1253;
}

h4{
  margin: 10 auto 10 auto;
  font-family: 'Overpass', sans-serif;
}

h5{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 1.8rem;
  color: #00bbf0;
  font-weight: normal;
}

h6{
  font-family: 'Montserrat Subrayada', sans-serif;
}

.top-container{
  background-color: #E0FFFF;
}

.cloud-container{
  position: relative;
  height: 100px;
  width: 68%;
}

.top-cloud{
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-cloud1{
  position: absolute;
  left: 25%;
}

.bottom-cloud2{
  position: absolute;
  left: 65%;
  width: 20%;
}

.mountain{
  position: relative;
  width: 51%;
}

/******************************Middle Container******************************/

.middle-container{
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #F0FFFF;
}

.bio{
  margin: 0 auto 0 auto;
  width: 55%;
}

.education{
  width: 35%;
  margin: 0 auto 0 auto;
  text-align: left;
}

.education-stuff{
  clear: left;
}

.education-list{
  text-align: left;
}

.work-experience{
  width: 40%;
  margin: 0 auto 0 auto;
  text-align: left;
}

.work-header{
  font-family: 'Neuton', serif;
  font-weight: 800;
  font-size: 1.3rem;
}

.work{
  text-align: left;
  margin: 0 auto 0 auto;
  clear: right;
}

.skill-row{
  text-align: center;
}

.skills{
  text-align: left;
  margin: 20px auto 0 auto;
}

.hobbies{
  text-align: left;
  margin-left: 45%;
}

.img{
  width: 250px;
}

/******************************Bottom Container******************************/

.bottom-container{
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-me: hover{
  background-color: gold;
}

.discord-link{
  display: inline;
  padding-left: 10px;
}

.discord-name{
  display: inline;
}

.footer-link{
  display: inline;
}

.footer{
  color: #EAF6F6;
  font-size: .9rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   text-decoration: none;
}

#calculator{
  margin-right: 30px;
  float: left;
}

#penguin{
  margin-left: 30px;
  float: right;
}
